---
layout: default
description: Joshua Cox's Personal Blog
title: The Blog of Joshua Edward McLaughlin Cox
---

<section id="posts" class="posts section">
<div class="posts">
  <div class="content full-bleed" id="recent-posts">
  {% for post in site.posts limit:50 %}<a
    href="{{ post.url }}" class="post-excerpt{% if post.og_image_url %} photo{% endif %}">
      {% if post.og_image_url %}
      <div class="padded-content image" style="background-image:url('{{ post.og_image_url }}')"></div>
      {% else %}
      <div class="padded-content">
      {% endif %}<!-- post.og_image_url -->
        <div class="title"><h5>{{ post.title }}</h5></div>
        <info datetime="{{ page.date | date: "%Y-%m-%d" }}">
          {{ post.date | date: "%b %Y" }}
        </info>
        {% if post.description %}
        <p><span class="body "> &nbsp; &nbsp; {{ post.description | strip_html }}</span></p>
        {% else %}
        <p><span class="body "> &nbsp; &nbsp; {{ post.excerpt | strip_html }}</span></p>
        {% endif %}
      </div>
    </a>
    <hr>
    {% endfor %}
    <div class="breaker"></div>
    <div class="end">
      <p><a href="/archive/">More...</a></p>
      <p> </p>
    </div>
  </div>
</div>
</section><!--//posts-->
