<div class=full-width>
<center>
{% if site.safe == false %}
<div class=full-width style="width: 728px; height: 90px; background: #480162;">TOP AD GOES HERE</div>
{% else %}
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- ResponsiveFooter -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-8973108060277483"
     data-ad-slot="4892879907"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
{% endif %}
</center>
</div> <!--full-width-->
